@charset "utf-8";

#headline {
    width: 100%;
    min-width: 1263px;
    height: 300px;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)),url(../images/headline.jpg) no-repeat center;
}

#headline .center{
    width: 1263px;
    height: 300px;
    margin: 0 auto;
}

#headline .info {
    padding: 100px 0 0 50px;
}

#headline h2 {
    color: white;
}

#headline p {
    color:white;
}

#container {
    width: 1263px;
    height: 1200px;
    margin: 30px auto;
}

#container .aside-bar {
    width: 320px;
    height: 1200px;
    float: right;
    box-sizing: content-box;
}

#container .sidebox {
    border: 1px solid #eee;
    margin: 0 0 10px 0;
    text-align: center;
    box-sizing: content-box;
    display: inline-block;
}

#container .sidebox h2 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    text-indent: 8px;
    height: 40px;
    line-height: 40px;
    background-color: #fafafa;
    color:#666;
    text-align: left;
}

#container .tag {
    background-color: #eee;
    width: 100%;
    box-sizing: content-box;
    text-align: left;
    font-size: 0px;
}

#container .tag li {
    background-color: white;
    display: inline-block;
    width: 140px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    margin: 4px;
    color:#999;
    text-align: center;
}

#container .tag li a {
    display: block;
    color:#666;
}
#container .tag a:hover {
    background-color: #458b00;
    color:white;
}

#container .hot, #container .treasure {
    clear: both;
}

#container .list {
    width: 920px;
    height: 1200px;
    float: left;
}

#container .figure figure{
    display: inline-block;
}

#container .thumbnail {
    background-image: url(../images/small.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position:10px center; 
}

#container .list .info {
    height: 45px;
}

#container .info .left{
    float: left;
}

#container .info .left li,  #container .info .right li{
    width: 100px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #eee;
    float: left;
}

#container .info .left li:first-child {
    background-color: #fff;
    border-top: 2px solid #45b800;
    height: 43px;
    line-height: 43px;
    position: relative;
    left: 1px; 
}

#container .info .left a {
    color:#666;
}
#container .info .right {
    float: right;
}

#container .info .right li {
    width: 60px;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
}

#container .info .right a {
    color: #666;
    padding: 0 5px;
}

#container .info .right .selected , #container .info .right a:hover{
    background-color: green;
    color:white;
}

#container .ticket {
    color:#666;
}

#container .ticket h2 {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #999;
    padding-bottom: 20px;
    font-weight: normal;
}

#container .ticket .type {
    margin: 20px 0 10px 0;
}

#container .ticket .type mark {
    color:white;
    background-color: #458b00;
    padding: 5px 8px;
    border-radius: 4px;
    margin: 0 0 0 10px;
}

#container .ticket form {
    font-size: 20px;
}

#container .ticket form p{
    line-height: 3;
}

#container .ticket .left {
    display: inline-block;
    width: 43%;
}

#container .ticket .right {
    display: inline-block;
    width: 43%;
}

#container .ticket .form input {
    width: 250px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    font-size: 18px;
    color: #666;
    margin: 0 0 0 16px;
}

#container .ticket form .button {
    display: inline-block;
    width: 9%;
}

#container .ticket form .submit {
    width: 90px;
    height: 90px;
    font-size: 20px;
    color: #fff;
    background-color: #f60;
    border-radius: 4px;
    border: none;
    outline: none;
    position: relative;
    top: -30px;
}

#container .ticket .book_ticket {
    clear: both;
}

#container .ticket .book_ticket ul {
    margin: 20px 0 0 0;
}

#container .ticket .book_ticket ul li {
    display: inline-block;
    padding: 5px 10px;
}

#container .ticket .book_ticket ul li:first-child {
    padding-left: 0;
}

#container .ticket .book_ticket ul li:nth-child(2) {
    background-color: #458b00;
    color: #fff;
    border-radius: 4px;
}

#container .ticket .book_ticket table {
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
}

#container .ticket .book_ticket table th {
    border: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
}

#container .ticket .book_ticket table td {
    border: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
}

#container .ticket .book_ticket table tr:nth-child(2n) {
    background-color: #fafafa;
}

#container .ticket .book_ticket table tr:hover {
    background-color: #fafafa;
}

#container .ticket .book_ticket table .price {
    color:#f60;
}

#container .ticket .book_ticket .more {
    color: #666;
}

#container .ticket .book_ticket .reserve {
    display: inline-block;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    background-color: #f60;
}