@charset "utf-8";

html {
    font-size: 625%; //10px
}

body , h1, h2, p, ul, figure, input, article{
    margin: 0;
    padding: 0;
    font-size: 0.16rem;
}

#header {
    width: 100%;
    height: 0. 45rem;
    background-color: #333;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    z-index: 9999;
    position: relative;
    font-size: 0.16rem;
    min-width: 3.2rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.link {
    height: 0.45rem;
    line-height: 0.45rem;
    color:#eee;
}

.link li {
    width: 20%;
    text-align: center;
    float: left;
}

.link a {
    color:#eee;
    display: block;
}

.link a:hover , .link li.active a{
    background-color: #000;
}


.none {
    display: none;
}

#footer {
    height: 360px;
    background-color: #222;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    margin:0 auto;
}

div {
    box-sizing: border-box;
}

#adver {
    max-width: 6.4rem;
    margin: 0 auto;
}

#search {
    max-width: 6.4rem;
    height: 0.36rem;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

#search .search {
    width: 90%;
    height: 0.36rem;
    background-color: #fff;
    display: block;
    border-radius: 4px;
    border: 1px solid #eee;
    outline: none;
    font-size: 0.14rem;
    margin: 0 auto;
    box-sizing: border-box;
}

#search .button {
    position: absolute;
    right: 6%;
    top: 0.03rem;
    display: block;
    width: 0.5rem;
    height: 0.3rem;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    border: 1px solid #666;
    color:#666;
    background-color: #eee;
    font-size: 0.16rem;
}

#tour {
    max-width: 6.4rem;
    margin: 0.1rem auto 0 auto;
}

#tour h2 {
    text-align: center;
    color: #666;
    font-size: 0.26rem;
}

#tour p {
    text-align: center;
    color: #666;
    font-size: 0.16rem;
    margin: 0.05rem 0 0.1rem 0;
}

/* 媒体查询 宽度在320和640之间时用下面0.26和0.16的字体大小，在小于320时用0.10和0.09的字体大小 */
@media (min-width: 320px) and (max-width: 640px) {
    #tour h2 {
        text-align: center;
        color: #666;
        font-size: 0.26rem;
    }

    #tour p {
        text-align: center;
        color: #666;
        font-size: 0.16rem;
        margin: 0.05rem 0 0.1rem 0;
    }
}

@media (max-width: 320px) {
    #tour h2 {
        font-size: 0.10rem;
    }

    #tour p {
        font-size: 0.09rem;
    }
}

#footer {
    height: 0.6rem;
    background-color: #222;
    max-width: 6.4rem;
    min-width: 3.2rem;
    margin: 0 auto;
    text-align: center;
    color:#777;
    padding: 0.1rem 0;
    font-size: 0.16rem;
}

#footer .top {
    padding: 0 0 0.05rem 0;
}


